* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h1 {
  font-size: 5rem;
  text-decoration: underline;
}
h2 {
  font-size: 3rem;
}
h4 {
  text-decoration: underline;
}

label {
  font-size: 2rem;
}

form {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.inputWrapper {
  width:100%;
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
}

input {
  border: 1px solid black;
}

.memberCard {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;  
  padding: 1rem;
}
