* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 20vh;
}

/* .container div {
  width:100%;
  display: flex;
  justify-content: space-around;
} */

.memberCard {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;  
}
