.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 20vh;
}

.container div {
  width:100%;
  display: flex;
  justify-content: space-around;
}

